<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div>
<div class="logo">
  <img src="/assets/centrak.svg" title="Simulator">
</div>
<main class="main">
  <div class="content">      

    <div class="container">
      <div class="row custom-wrapper">
        <div class="clsmaindiv">
          <form [formGroup]="form" class="form-wrapper">
            <div class="clsformField">
            <label class="clsLabel">File Type</label>
            <select formControlName="fileType" style="width: 200px;">
                <option *ngFor="let filetype of Types" [value]="filetype.id">
                    {{ filetype.name }}
                </option>
            </select>
          </div>

          <div class="clsformField">
            <label class="clsLabel">Select File</label>
            <input type="file" placeholder="Server Name">
          </div>


          <div class="clsformField">
            <label class="clsLabel">Server Name</label>
            <input matInput placeholder="Server Name" style="width: 200px;">
          </div>
        </form>

        <div>
          <mat-dialog-actions>
          <button class="clsButton" mat-button (click)="onSendCommand()">
            Send Command
          </button>

          <button type="button" class="clsButton" mat-button id="clear-btn">
            Cancel
          </button>
          </mat-dialog-actions>
        </div>  
        
         <!-- List view for displaying the fetched data -->
       <!-- <div *ngIf="data">-->
        <div *ngIf="data && data.items && data.items.length > 0">
          <h2>ListView</h2>
          <ul>
            <li *ngFor="let item of data.items">{{ item.name }}</li>
          </ul>
        </div>
        
        </div>
      </div>
    </div>
    
    
  </div>  
</main>
<div class="footer">
  <p class="mat-caption">
    <span>&copy; {{ currentDate }} CenTrak, Inc.</span> 
    <span >All rights reserved.</span>
  </p>
</div> 
</div>
<router-outlet />
