.clsmaindiv
{
    width: 50%;
}
.clsLabel{
    width: 30%;
    display: inline-block;
}

.clsformField{
    line-height: 3em;
}

.mat-dialog-actions {
    justify-content: space-between;
}

.mat-button {
    min-width: auto;
    padding: 0 8px;
    color: red;
}

.clsButton{
    margin-top:0.5em;
    margin-left:1em;
    background-color:#005592;
    color:white !important;
    width:6rem;
    height: 2.5em;
}

.logo{
    height: 48px;
    line-height: 48px;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    background-color:#005592;
}

.footer{
    /* height: 48px;
    position: absolute;
    top:10px;
    bottom: 0;
    width: 100%;
    line-height: 48px;*/
    background-color:#005592; 
    background-color: #005592;
    position: absolute;
    bottom: 17px;
    /* height: 18px; */
    width: 98.9%;    
}

.mat-caption{
    color: #ffffff;
    text-align: center;
}

/* Style the list */
ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 8px 0;
    padding: 8px;
    background-color: #f4f4f4;
    border-radius: 4px;
  }
  
  h2 {
    color: #333;
  }
  
